body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

legend{
  font-weight: bold;
}

label{  
  display: block;
  margin-top: 1em;
  cursor: pointer;
}

input[type="text"], input[type="email"] {
  width: 16em;  
  /*border-radius: 0.5em;*/
  line-height: 2em;
}

textarea{
  width: 20em;
  height: 10em;
}