#principal{
  border: 2px solid red;
  background: #b6b6bd;
}

.conteudo{
  background: #53537c;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  margin: 20px;
  float: left; /* left, right, none */  
}

.conteudo-zero{
  background: #be6565;
  border: 1px solid gray;
  width: 200px;
  height: 250px;
  margin: 20px;  
}

.clear{
  clear: both; /*left, rigth, both, none*/
}

