body{
  background: #f3f2f2;
}

#principal{
  border: 1px solid red;
  width: 920px;
}

.noticia{
  background: #e5e5e5;
  padding: 5px;
  width: 280px;
  margin: 7px;
  float: left;
}

.imagem-galeria{
  width: 280px;
  margin: 7px;
  padding: 5px;
  background: #aaa6e7;
  float: left;
}

.clear{
  clear: both;
}