.conteudo{
  border: 1px solid red;
  width: 200px;
  /*padding-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 15px; */
  /*padding: 10px 20px 30px 15px; */
  padding: 20px;
  
  /*margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;*/
  margin: 10px;

}

.conteudo2{
  border: 1px solid red;
  width: 200px;
  margin: 50px;
}