<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" href="layout.css">
</head>
<body>
  <div id="container">
    <div id="marca">Marca</div>
    <div id="conteudo">
      <div id="principal">
        <h1>Lorem Ipsum</h1>
        <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

        <h2>Lorem Ipsum</h2>
        <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div id="secundario">
        <h3>Lorem Ipsum</h3>
        <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
    <div id="navegacao">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Notícias</a></li>
        <li><a href="#">Cadastro</a></li>
      </ul>
    </div>
    <div id="rodape">Rodape</div>
  </div>
</body>
</html>